<Files ~ "^\.(htaccess|htpasswd)$">
    Require all denied
</Files>
<Files ~ "^www/.*\.php">
    Require all denied
</Files>

Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_URI} !^/www/.*$
RewriteCond %{REQUEST_URI} !^/index.php$
RewriteRule .* /index.php [QSA,PT,L]