@charset "utf-8";
*{
    margin:0;
    padding: 0;
    font-family:WenQuanYi Micro Hei, Microsoft Yahei, SimSun;
}
a{
    text-decoration:none;
    color:blue;
}
a:hover{
    text-decoration: underline;
}
img{
    border:0;
}
/* Clear Fix */
.clearfix{
    zoom: 1;
    display: table;
}
#poprelay{
    display: none;
    position: absolute;
    top: 0%;left: 0%;
    width: 0;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.2;
    opacity:.20;
    filter: alpha(opacity=20);
}
#main{
    width:1200px;
    margin:0 auto 0 auto;
    overflow:hidden;
}
#lbar{
    padding-top:50px;
    width:150px;
    padding-left:10px;
    float:left;
    background-color:#b9cffe;
    margin-bottom:-90000px;
    padding-bottom:90000px;
    font-size:14px;
    list-style:none;
}
#lbar li{
    line-height:24px;
}
#lbar a{
    color:blue;
}
#rcontent{
    padding:50px 0 100px 0;
    width:1040px;
    margin-left:160px;
    font-size:14px;
}
#footer{
    padding:0 10px;
    margin:0 auto;
}
#mbx{
    line-height:18px;
    padding:3px 0;
    width:100%;
    border-bottom:1px solid black;
    list-style:none;
}
#mbx li{
    float:left;
    padding:0 5px;
    position: relative;
}
#mbx .dir{
    color:blue;
}
#mbx .book{
    color:gray;
}
#dir{
    zoom: 1;
    display: table;
    width:100%;
}
#list{
    width:210px;
    float:right;
    font-size:14px;
}
#list a{
    line-height:22px;
    padding:0 5px;
    display:block;
}
#list .dir{
    background-color:#fdc6ba;
    border-bottom:1px solid black;
    padding-left:20px;
}
#list .page{
    background-color:#a9fec2;
    border-bottom:1px solid black;
}
#page{
    width:810px;
    padding:10px 220px 10px 10px;
}
.line{
    zoom: 1;
    display: table;
    width:100%;
    line-height:20px;
    padding:2px 0;
}
.line .tag{
    float:left;
    display:inline-block;
    text-align:right;
    font-weight:bold;
}
.line .item{
    float:left;
    display:inline-block;
    text-align:left;
}
.line .item input[type="text"]{
    box-sizing: border-box;
    width:100%;
    height:20px;
    line-height:20px;
    border:1px solid #00308a;
}
.bar{
    zoom: 1;
    display: table;
    width:100%;
    line-height:20px;
    padding:2px 0;
    text-align:center;
}

#page #list{
    text-align:left;
    display: block;
    float:none;
}

#page h1{
    font-size: 28px;
    padding:6px 0;
    border-bottom:0.2em solid #CCCCCC;
    margin:15px 0;
}
#page h2{
    font-size: 24px;
    padding:6px 0;
    margin:10px 0;
    border-bottom:1px solid black;
}
#page h3{
    font-size: 18px;
    padding:6px 0;
    margin:10px 0;
    border-bottom:1px solid #AAAAAA;
}
#page h4{
    font-size: 18px;
    margin:10px 0;
}
#page h5{
    font-size: 14px;
    margin:10px 0;
}
#page h6{
    color: #666666;
    font-size: 14px;
    margin:10px 0;
}

#page p{
    margin:10px 0;
    font-size:14px;
    line-height:20px;
    text-indent:2em;
}

#page blockquote{
    color:#222222;
    margin:10px 0;
    padding-left: 2em;
    border-left: 0.5em #DDD solid;
}

#page ul, #page ol{
    padding-left: 2em;
    margin:10px 0;
}
#page li p:last-child{
    margin:0
}
#page dl{
    margin:10px 0;
}

#page dd{
    margin-left:2em;
}

#page ul p, #page ol p, #page dl p, #page dl p{
    text-indent:0;
}

#page hr{
    height: 0.2em;
    color: #CCCCCC;
    background-color: #CCCCCC;
}
#page pre{
    overflow:auto;
    max-height:350px;
    margin:10px 0;
    border:1px solid #CCCCCC;
    background-color:#F8F8F8;
    border-radius:5px;
}
#page code{
    font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    background-color:#F8F8F8;
    border:1px solid #CCCCCC;
    padding:0 0.3em;
    line-height:20px;
    border-radius:5px;
}
#page pre code{
    border:0;
    padding: 5px;
    font-size:12px;
    line-height:16px;
    display:block;
}

#page code *{
    font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

#page img{
    border: 0;
    vertical-align: middle;
    max-width:100%;
}
#page table{
    border-collapse: collapse;
    border-spacing: 0;
    border:1px solid #AAAAAA;
}
#page th{
    background-color:#F2F2F2;
    border:1px solid #AAAAAA;
    line-height:26px;
    padding:0 5px;
}
#page td{
    border:1px solid #AAAAAA;
    padding:0 5px;
    line-height:24px;
}